EVE_CLIENT_ID=replace_with_your_eve_client_id
EVE_CLIENT_SECRET=replace_with_your_eve_client_secret
EVE_REDIRECT_URI=http://127.0.0.1:5000/callback
FLASK_SECRET_KEY=replace_me_with_a_random_secret
DATABASE_PATH=eve_dashboard.db
LOG_PATH=eve_dashboard.log
DEBUG=false
