EVE_CLIENT_ID=6e38123bfc834d55b78edd9e345ba060
EVE_CLIENT_SECRET=eat_2HX3foleRPhA9QSH49aYVpGEKBnrXLBkN_1DcoOe
EVE_REDIRECT_URI=http://127.0.0.1:5000/callback
FLASK_SECRET_KEY=replace_me_with_a_random_secret
